body {
  font-family: sans-serif;
  background-color: white;
  color: pink;
  margin: 30px;
  padding: 10px;
} 

  header {
  background-color: gray;
  color: black;
  padding: 20px;
  text-align: center; }

  .sectionA {
  margin: 40px;
  padding: 30px;
  background-color: pink;
  border: 5px solid black;
  width: 50%;
  color:black; 
  
  
  }

 .sectionB {  
  width: 50%;
  border: 5px solid pink;
  background-color: black;
  padding: 30px;
  margin: 40px; 
  
   
 }

  .sectionC { 
  width: 50%;
  border: 5px solid black;
  background-color: pink;
  padding: 30px;
  margin: 40px;
  color:black;
  
  }

.sectionD { 
  width: 50%;
  border: 5px solid pink;
  background-color: black;
  padding: 30px;
  margin-left: 40px;

}


.sectionE { 
  width: 50%;
  border: 5px solid black;
  background-color: pink;
  padding: 40px;
  margin: 30px;
  color:black;
}

.sectionF { 
  width: 50%;
  border: 5px solid pink;
  background-color: black;
  padding: 30px;
  margin-left: 40px;

  img {
  width: 100%;
  border-radius: 30px;
  box-shadow: 20px; 
  }

  #color:hover {
  background-color: yellow;
  font-size: 18px;
}
    
  

  
 
  



  



